<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <style>

    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis--x path {
      display: none;
    }

    </style>
</head>

<body>
    <!-- <div class="bedrooms">
      <h2>Price for different bedrooms</h2>
      <p></p>
    </div>

    <svg id="svg1" width="960" height="500"></svg>

    <div class="yearBuilt">
      <h2>Price for different built year</h2>
      <p></p>
    </div> -->
    <!-- <svg id="svg2" width="960" height="500"></svg> -->


    <div class="model">
      <h2>Price for different model</h2>
      <p></p>
    </div>
    <svg id="svg3" width="960" height="500"></svg>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script>

        var svg = d3.select("#svg3"),
        margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;

        var x = d3.scaleBand().rangeRound([0, width]).padding(0.5),
        y = d3.scaleLinear().rangeRound([height, 0]);

        var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        data2 = <%-JSON.stringify(result_model)%>

        // data2 = [{"model": "SVR", "price": 99999}, {"model": "DNN", "price": 8765}, {"model": "Random Forest", "price": 8888}, {"model": "Bayesian", "price": 8342}];

        console.log(data2);

        x.domain(data2.map(function(d) { return d.model; }));
        y.domain([0, d3.max(data2, function(d) { return d.price; })]);

        g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        g.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y).ticks(10, "s"))
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .attr("text-anchor", "end")
          .text("price");

        g.selectAll(".bar")
        .data(data2)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.model); })
          .attr("y", function(d) { return y(d.price); })
          .attr("width", x.bandwidth())
          .attr("height", function(d) { return height - y(d.price); });

    </script>

</body>
</html>
